---
title: Life is Gnarlacious
---

<div class="container">
	<section class="row">
		<h1>Gnarlacios</h1>
		<p>[nahr-ley-shuh s]: More gnarly than gnarly</p>
		<%= image_tag 'lgo-gnarlacious.png', class: 'brand', width: '200px' %>
	</section>
</div>
